Package: com.socuul.scinsta
Name: PekiWare
Version: 1.0.0
Architecture: iphoneos-arm
Description: PekiWare — a feature-rich tweak for Instagram on iOS!
Maintainer: SoCuul
Author: SoCuul
Section: Tweaks
Depends: mobilesubstrate